<head th:fragment="headerFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon DEEN</title>

    <!-- Local fonts -->
    <link rel="stylesheet" href="/Resources/css/fonts.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Resources/bootstrap-5.3.7/css/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/Resources/fontawesome-7.0.0/css/all.min.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/Resources/css/common.css">
</head>
